.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* center */
    text-align: center;
    /* vertical align center */
    vertical-align: middle;
}

th.header-cell {
    font-weight: bold;
    background-color: blue;
    /* Dark gray */
    color: #ffffff;
    border-bottom: 2px solid #e5e7eb;
}

td {
    background-color: #f9fafb;
}

table tr:nth-child(even) td {
    background-color: #f1f5f9;
}

table tr:hover td {
    background-color: #e5e7eb;
}

.dash_card{
    background-color:white;
    border-radius:25px;
    box-shadow: -3px 3px 1px#C2C2C2
  }