.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

th.header-cell {
    font-weight: bold;
    background-color: #1f2937;
    /* Dark gray */
    color: #ffffff;
    border-bottom: 2px solid #e5e7eb;
}

td {
    background-color: #f9fafb;
}

table tr:nth-child(even) td {
    background-color: #f1f5f9;
}

table tr:hover td {
    background-color: #e5e7eb;
}